body{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0px;
    background-color: #ED661F;
}
#bar1{
    background-color: black;
    display: flex;
    color: antiquewhite;
    /*justify-content: center;*/
    clear: both;
    width: 100%;
    height: 200px;

}
#navbar{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 400px;
    /*position: absolute;*/
    /*transform: translate(0, -50%);*/
    justify-content: space-between;
    
}
.logo{
    /*float: left;*/
    margin-left: 20px;
    align-items: center;
    align-content: center;
    margin-top: 4.0%;
    font-size: xxx-large;
}
#login{
    float: inline-end;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 300px;
    width: 150px;
    justify-content: space-between;
}
#BUT1{
    background-color: orangered;
    color: antiquewhite;
    border-style: none;
    font-family: 'Popins', sans-serif;
    font-weight: bold;
    height: 40px;
}
#Home:hover{
    border-bottom: 3px solid orangered;
}
#About:hover{
    border-bottom: 3px solid orangered;
}
#Products:hover{
    border-bottom: 3px solid orangered;
}
#Contact_Us:hover{
    border-bottom: 3px solid orangered;
}
#Login:hover{
    border-bottom: 3px solid orangered;
}
#bar2{
    /*background-image: url(/assets/images/image_1.png);*/
    height: 750px;
    position: relative;
}
img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    
  }
#image2{
    height: 500px;
    width: 1000px;
    float: right;
    position: relative;
    top: 30px;
    
}
.bar2{
    float: left;
    position: relative;
    display: block;
    height: 80%;
    width: 40%;
    margin-top: 100px;
}
#BUT2{
    background-color: orangered;
    color: antiquewhite;
    border-style: none;
    font-family: 'Popins', sans-serif;
    font-weight: bold;
    height: 70px;
    width: 300px;
    font-size: x-large;
}
#b{
    margin-left: 30px;
    height: 30px;
}
.b200{
    display: block;
    padding-left: 30px;
   
}
.c105{
    display: block;
    
}
.d2000{
    display: block;
    padding-right: 30px;
    
}
#bar3{
    display: flex;
    width: 800px;
    justify-content: space-between;
    text-align: center;
    background-color: aliceblue;
    position: relative;
    top: -100px;
    height: 150px;
    margin-left: 830px;
    align-items: center;
}
#image3{
    position: relative;
    height: 550px;
    width: 50%;
    float: right;
    margin-top: 50px;
}
#bar4{
    background-color: white;
    height: 600px;
    width: 100%;
    margin-top: -150px;
    
}
#Why{
    float: left;
    position: absolute;
    width: 30%;
    margin-top: 100px;
    margin-left: 60px;
    font-size: x-large;
}
#bar5{
    height: 150px;
    width: 100%;
    background-color: white;
    margin-top: -20px;
    align-content: center;
}
#Our{
    margin-top: 20px;
    text-align: center;
   
}
#bar6{
    background-color: white;
    width: 100%;
    height: 550px;
    display: block;
    margin-top: -25px;
}
#k{
    height: 250px;
    width: 250px;
    margin-left: 370px;
}
#kk{
    display: flex;
    position: relative;
    margin-left: 30px;
    height: 400px;
    width: 1750px;
    background-color: white;
    margin-right: 30px;
    gap:250px;
    flex-wrap: wrap;
    overflow: hidden;
    
}
#t{
    height: 250px;
    width: 250px;
    margin-left: 150px;
    

}
#f{
    height: 250px;
    width: 250px;
    margin-left: 200px;
}
#c{
    height: 250px;
    width: 250px;
    position: absolute;
   
}
.heading{
 
 margin-left: 30px;
}

#Cereals{
    display: block;
    height: 600px;
}

#ef{
    display: block;
    text-align: center;
}
#carrots{
    margin-right: 15px;
}
#bar7{
    background-color: white;
    width: 100%;
    height: 550px;
    display: block;
    margin-top: -25px;
}
#r{
    height: 250px;
    width: 250px;
}
#See{
    border-bottom: solid orangered 3px;
}
#BUT4{
    margin-left: 1600px;
    height: 40px;
    font-size: xx-large;
    border: none;
    background-color: white;
    margin-bottom: 30px;
}
#new{
    border-bottom: solid orangered 3px; 
}
#bar8{
    background-color: white;
}
#bar9{
    height: 25px;
    border-top: solid 3px grey;
    background-color: lightgray;
}
.clip-star {
    background: orangered;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 60px;
    width: 70px;
  }
  #bar10{
  align-items: center;
  background: white;
  display: flex;
  height: 100px;
  width: 350px;
  justify-content: center;
  }
  #bar11{
    height: 600px;
    width: 100%;
    background-color: white;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;

  }
  #bar11-1{
    height: 400px;
    width: 400px;
    margin-left: 30px;
    box-shadow: 5px 10px 8px #888888;
    font-size: large;
    margin-right: 30px;
  }
  #feedback{
    display: block;
    background-color: white;
    margin-top: -23px;
  }
  #photo{
    display: flex;
    width: 200px;
    height: 100px;
    justify-content: space-between;
  }
  #rect11{
    height: 40px;
    width: 40px;
  }